@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #cf25aa;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

    .logo {
        margin-top: -7px;
        color: #00f7ff;
        font-size: 1.5em;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 0.7em;
        }
    }
}

.social-header,
.hero-design {
    display: none;
}

.hero {
    background: #6e00ff;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 300px;
    letter-spacing: 1px;
    font-size: 1.5em;
    // font-weight: bold;
    color: #ffbb32;

    span {
        margin: 1em 0;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.about {
    position: relative;
}

.about img {
    // height: 310px;
    // width: auto;
    border-radius: 10px;
}

.about::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #c19ae6;
    top: 0;
    left: -5;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffbb32;
    letter-spacing: 0.2em;
    font-size: 1.5em;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-top: -0.4em;
    display: block;
}

.desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #8d29cf;
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 120px;
        }
        &.two {
            width: 80px;
        }
        &.three {
            width: 80px;
        }
    }

    .skill-title {
        font-weight: bold;
    }
    .skill-desc {
        margin-bottom: 2em;
    }
}

.work {
    background: #eee8f3;
}

.work-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
    .about,
    .work {
        text-align: left;
    }

    header {
        padding: 2em 2em 2em 4em;
    }

    .about,
    .work-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left,
    .work-left {
        display: grid;
        place-content: center;
    }

    .right-img {
        margin-left: 3.2em;
        width: 90%;
        border-radius: 10px;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .work {
        padding-top: 7em;
    }

    .work-container img {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #6700ee;
        }
    }

    header {
        padding: 2em 2em 2em 4em;
    }

    .social-header {
        padding: 2em 4em 2em 0;
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
        }

        img {
            width: 20px;
        }
    }

    section {
        padding: 4em;
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #6e00ff;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet {
        margin: unset;
    }

    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .about img {
        margin-left: 5em;
        width: 80%;
    }

    .work img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 8em;
    }

    .social-header {
        padding: 2em 10em 2em 0;
    }

    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .content {
        padding: 6em 8em 6em 8em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 15em;
    }

    .social-header {
        padding: 2em 20em 2em 15em;
    }

    section {
        padding: 6em 20em 4em 20em;
    }

    .hero .content {
        padding: 9em 20em 6em 15em;
    }
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
    }
    to {
        transform: translate(262px, 830px);
    }
}
